body{
    font-size: 2rem;
}

.navbar{
    display: flex;
    justify-content:space-between ;

}
.navbar-center{
    display: flex;
    gap: 5rem;
}

.navbar-center > div > a{
    text-decoration:none;
    color: black;
}
.nav-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
} 
.navbar-left{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: ease-in-out 0.5s;
}

.nav-image:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.navbar-center>div>a:hover{
    color: orange;
}

.card{
    height: 32.5rem;
    width: 25rem;
    margin-top: 5rem;
    margin-left: 35rem;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border: 1px solid rgb(219, 218, 218);
}
.card:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-top>img{
    height: 25rem;
    border-radius: 15px;
    object-fit: scale-down;
}
.card-bottom{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
}